.header {
    width: 100%;
    height: 100px;
    background-color: indianred;
}

.footer {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: indianred;
}